<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/abs.css">
    <title>Gestion d'absence</title>
</head>
<body>
    <a href="/users/all"><button class='glowing-btn'><span class='glowing-txt'>Li<span class='faulty-letter'>ste </span>Peronel</span></button></a>
    <a href="/absence"><button class='glowing-btn2'><span class='glowing-txt'>Ges<span class='faulty-letter'>tion </span>Absence</span></button></a>
</body>
</html>